{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://autoscaling.amazonaws.com/"
        },
        {
            "url": "http://autoscaling.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Auto Scaling</fullname> <p>Use AWS Auto Scaling to quickly discover all the scalable AWS resources for your application and configure dynamic scaling and predictive scaling for your resources using scaling plans. Use this service in conjunction with the Amazon EC2 Auto Scaling, Application Auto Scaling, Amazon CloudWatch, and AWS CloudFormation services. </p> <p>Currently, predictive scaling is only available for Amazon EC2 Auto Scaling groups.</p> <p>For more information about AWS Auto Scaling, including information about granting IAM users required permissions for AWS Auto Scaling actions, see the <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/what-is-aws-auto-scaling.html\">AWS Auto Scaling User Guide</a>.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Auto Scaling Plans",
        "version": "2018-01-06",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/autoscaling-plans-2018-01-06.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "autoscaling-plans"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/autoscaling/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates a scaling plan.",
                "operationId": "CreateScalingPlan",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "ScalingPlanVersion": {
                                            "description": "<p>The version number of the scaling plan. This value is always 1.</p> <p>Currently, you cannot specify multiple scaling plan versions.</p>",
                                            "type": "integer"
                                        }
                                    },
                                    "required": [
                                        "ScalingPlanVersion"
                                    ],
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "LimitExceededException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ConcurrentUpdateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ApplicationSource": {
                                        "description": "A CloudFormation stack or set of tags. You can create one scaling plan per application source.",
                                        "properties": {
                                            "CloudFormationStackARN": {
                                                "description": "The Amazon Resource Name (ARN) of a AWS CloudFormation stack.",
                                                "type": "string",
                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                            },
                                            "TagFilters": {
                                                "description": "A set of tags (up to 50).",
                                                "items": {
                                                    "description": "Represents a tag.",
                                                    "properties": {
                                                        "Key": {
                                                            "description": "The tag key.",
                                                            "maxLength": 128,
                                                            "minLength": 1,
                                                            "type": "string",
                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                        },
                                                        "Values": {
                                                            "description": "The tag values (0 to 20).",
                                                            "items": {
                                                                "maxLength": 256,
                                                                "minLength": 1,
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "ScalingInstructions": {
                                        "description": "The scaling instructions.",
                                        "items": {
                                            "description": "<p>Describes a scaling instruction for a scalable resource.</p> <p>The scaling instruction is used in combination with a scaling plan, which is a set of instructions for configuring dynamic scaling and predictive scaling for the scalable resources in your application. Each scaling instruction applies to one resource.</p> <p>AWS Auto Scaling creates target tracking scaling policies based on the scaling instructions. Target tracking scaling policies adjust the capacity of your scalable resource as required to maintain resource utilization at the target value that you specified. </p> <p>AWS Auto Scaling also configures predictive scaling for your Amazon EC2 Auto Scaling groups using a subset of parameters, including the load metric, the scaling metric, the target value for the scaling metric, the predictive scaling mode (forecast and scale or forecast only), and the desired behavior when the forecast capacity exceeds the maximum capacity of the resource. With predictive scaling, AWS Auto Scaling generates forecasts with traffic predictions for the two days ahead and schedules scaling actions that proactively add and remove resource capacity to match the forecast. </p> <p>We recommend waiting a minimum of 24 hours after creating an Auto Scaling group to configure predictive scaling. At minimum, there must be 24 hours of historical data to generate a forecast.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/auto-scaling-getting-started.html\">Getting Started with AWS Auto Scaling</a>.</p>",
                                            "properties": {
                                                "CustomizedLoadMetricSpecification": {
                                                    "description": "The customized load metric to use for predictive scaling. This parameter or a <b>PredefinedLoadMetricSpecification</b> is required when configuring predictive scaling, and cannot be used otherwise. ",
                                                    "properties": {
                                                        "Dimensions": {
                                                            "description": "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>",
                                                            "items": {
                                                                "description": "Represents a dimension for a customized metric.",
                                                                "properties": {
                                                                    "Name": {
                                                                        "description": "The name of the dimension.",
                                                                        "type": "string"
                                                                    },
                                                                    "Value": {
                                                                        "description": "The value of the dimension.",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "Name",
                                                                    "Value"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "MetricName": {
                                                            "description": "The name of the metric.",
                                                            "type": "string"
                                                        },
                                                        "Namespace": {
                                                            "description": "The namespace of the metric.",
                                                            "type": "string"
                                                        },
                                                        "Statistic": {
                                                            "description": "The statistic of the metric. Currently, the value must always be <code>Sum</code>. ",
                                                            "enum": [
                                                                "Average",
                                                                "Minimum",
                                                                "Maximum",
                                                                "SampleCount",
                                                                "Sum"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "Unit": {
                                                            "description": "The unit of the metric.",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "MetricName",
                                                        "Namespace",
                                                        "Statistic"
                                                    ],
                                                    "type": "object"
                                                },
                                                "DisableDynamicScaling": {
                                                    "description": "<p>Controls whether dynamic scaling by AWS Auto Scaling is disabled. When dynamic scaling is enabled, AWS Auto Scaling creates target tracking scaling policies based on the specified target tracking configurations. </p> <p>The default is enabled (<code>false</code>). </p>",
                                                    "type": "boolean"
                                                },
                                                "MaxCapacity": {
                                                    "description": "The maximum capacity of the resource. The exception to this upper limit is if you specify a non-default setting for <b>PredictiveScalingMaxCapacityBehavior</b>. ",
                                                    "type": "integer"
                                                },
                                                "MinCapacity": {
                                                    "description": "The minimum capacity of the resource. ",
                                                    "type": "integer"
                                                },
                                                "PredefinedLoadMetricSpecification": {
                                                    "description": "The predefined load metric to use for predictive scaling. This parameter or a <b>CustomizedLoadMetricSpecification</b> is required when configuring predictive scaling, and cannot be used otherwise. ",
                                                    "properties": {
                                                        "PredefinedLoadMetricType": {
                                                            "description": "The metric type.",
                                                            "enum": [
                                                                "ASGTotalCPUUtilization",
                                                                "ASGTotalNetworkIn",
                                                                "ASGTotalNetworkOut",
                                                                "ALBTargetGroupRequestCount"
                                                            ],
                                                            "type": "string"
                                                        },
                                                        "ResourceLabel": {
                                                            "description": "<p>Identifies the resource associated with the metric type. You can't specify a resource label unless the metric type is <code>ALBRequestCountPerTarget</code> and there is a target group for an Application Load Balancer attached to the Auto Scaling group.</p> <p>The format is app/&lt;load-balancer-name&gt;/&lt;load-balancer-id&gt;/targetgroup/&lt;target-group-name&gt;/&lt;target-group-id&gt;, where:</p> <ul> <li> <p>app/&lt;load-balancer-name&gt;/&lt;load-balancer-id&gt; is the final portion of the load balancer ARN.</p> </li> <li> <p>targetgroup/&lt;target-group-name&gt;/&lt;target-group-id&gt; is the final portion of the target group ARN.</p> </li> </ul>",
                                                            "maxLength": 1023,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "PredefinedLoadMetricType"
                                                    ],
                                                    "type": "object"
                                                },
                                                "PredictiveScalingMaxCapacityBehavior": {
                                                    "description": "<p>Defines the behavior that should be applied if the forecast capacity approaches or exceeds the maximum capacity specified for the resource. The default value is <code>SetForecastCapacityToMaxCapacity</code>.</p> <p>The following are possible values:</p> <ul> <li> <p> <code>SetForecastCapacityToMaxCapacity</code> - AWS Auto Scaling cannot scale resource capacity higher than the maximum capacity. The maximum capacity is enforced as a hard limit. </p> </li> <li> <p> <code>SetMaxCapacityToForecastCapacity</code> - AWS Auto Scaling may scale resource capacity higher than the maximum capacity to equal but not exceed forecast capacity.</p> </li> <li> <p> <code>SetMaxCapacityAboveForecastCapacity</code> - AWS Auto Scaling may scale resource capacity higher than the maximum capacity by a specified buffer value. The intention is to give the target tracking scaling policy extra capacity if unexpected traffic occurs. </p> </li> </ul> <p>Only valid when configuring predictive scaling.</p>",
                                                    "enum": [
                                                        "SetForecastCapacityToMaxCapacity",
                                                        "SetMaxCapacityToForecastCapacity",
                                                        "SetMaxCapacityAboveForecastCapacity"
                                                    ],
                                                    "type": "string"
                                                },
                                                "PredictiveScalingMaxCapacityBuffer": {
                                                    "description": "<p>The size of the capacity buffer to use when the forecast capacity is close to or exceeds the maximum capacity. The value is specified as a percentage relative to the forecast capacity. For example, if the buffer is 10, this means a 10 percent buffer, such that if the forecast capacity is 50, and the maximum capacity is 40, then the effective maximum capacity is 55.</p> <p>Only valid when configuring predictive scaling. Required if the <b>PredictiveScalingMaxCapacityBehavior</b> is set to <code>SetMaxCapacityAboveForecastCapacity</code>, and cannot be used otherwise.</p> <p>The range is 1-100.</p>",
                                                    "type": "integer"
                                                },
                                                "PredictiveScalingMode": {
                                                    "description": "The predictive scaling mode. The default value is <code>ForecastAndScale</code>. Otherwise, AWS Auto Scaling forecasts capacity but does not create any scheduled scaling actions based on the capacity forecast. ",
                                                    "enum": [
                                                        "ForecastAndScale",
                                                        "ForecastOnly"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ResourceId": {
                                                    "description": "<p>The ID of the resource. This string consists of the resource type and unique identifier.</p> <ul> <li> <p>Auto Scaling group - The resource type is <code>autoScalingGroup</code> and the unique identifier is the name of the Auto Scaling group. Example: <code>autoScalingGroup/my-asg</code>.</p> </li> <li> <p>ECS service - The resource type is <code>service</code> and the unique identifier is the cluster name and service name. Example: <code>service/default/sample-webapp</code>.</p> </li> <li> <p>Spot Fleet request - The resource type is <code>spot-fleet-request</code> and the unique identifier is the Spot Fleet request ID. Example: <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p> </li> <li> <p>DynamoDB table - The resource type is <code>table</code> and the unique identifier is the resource ID. Example: <code>table/my-table</code>.</p> </li> <li> <p>DynamoDB global secondary index - The resource type is <code>index</code> and the unique identifier is the resource ID. Example: <code>table/my-table/index/my-table-index</code>.</p> </li> <li> <p>Aurora DB cluster - The resource type is <code>cluster</code> and the unique identifier is the cluster name. Example: <code>cluster:my-db-cluster</code>.</p> </li> </ul>",
                                                    "maxLength": 1600,
                                                    "minLength": 1,
                                                    "type": "string",
                                                    "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                },
                                                "ScalableDimension": {
                                                    "description": "<p>The scalable dimension associated with the resource.</p> <ul> <li> <p> <code>autoscaling:autoScalingGroup:DesiredCapacity</code> - The desired capacity of an Auto Scaling group.</p> </li> <li> <p> <code>ecs:service:DesiredCount</code> - The desired task count of an ECS service.</p> </li> <li> <p> <code>ec2:spot-fleet-request:TargetCapacity</code> - The target capacity of a Spot Fleet request.</p> </li> <li> <p> <code>dynamodb:table:ReadCapacityUnits</code> - The provisioned read capacity for a DynamoDB table.</p> </li> <li> <p> <code>dynamodb:table:WriteCapacityUnits</code> - The provisioned write capacity for a DynamoDB table.</p> </li> <li> <p> <code>dynamodb:index:ReadCapacityUnits</code> - The provisioned read capacity for a DynamoDB global secondary index.</p> </li> <li> <p> <code>dynamodb:index:WriteCapacityUnits</code> - The provisioned write capacity for a DynamoDB global secondary index.</p> </li> <li> <p> <code>rds:cluster:ReadReplicaCount</code> - The count of Aurora Replicas in an Aurora DB cluster. Available for Aurora MySQL-compatible edition and Aurora PostgreSQL-compatible edition.</p> </li> </ul>",
                                                    "enum": [
                                                        "autoscaling:autoScalingGroup:DesiredCapacity",
                                                        "ecs:service:DesiredCount",
                                                        "ec2:spot-fleet-request:TargetCapacity",
                                                        "rds:cluster:ReadReplicaCount",
                                                        "dynamodb:table:ReadCapacityUnits",
                                                        "dynamodb:table:WriteCapacityUnits",
                                                        "dynamodb:index:ReadCapacityUnits",
                                                        "dynamodb:index:WriteCapacityUnits"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ScalingPolicyUpdateBehavior": {
                                                    "description": "<p>Controls whether a resource's externally created scaling policies are kept or replaced. </p> <p>The default value is <code>KeepExternalPolicies</code>. If the parameter is set to <code>ReplaceExternalPolicies</code>, any scaling policies that are external to AWS Auto Scaling are deleted and new target tracking scaling policies created. </p> <p>Only valid when configuring dynamic scaling. </p> <p>Condition: The number of existing policies to be replaced must be less than or equal to 50. If there are more than 50 policies to be replaced, AWS Auto Scaling keeps all existing policies and does not create new ones.</p>",
                                                    "enum": [
                                                        "KeepExternalPolicies",
                                                        "ReplaceExternalPolicies"
                                                    ],
                                                    "type": "string"
                                                },
                                                "ScheduledActionBufferTime": {
                                                    "description": "<p>The amount of time, in seconds, to buffer the run time of scheduled scaling actions when scaling out. For example, if the forecast says to add capacity at 10:00 AM, and the buffer time is 5 minutes, then the run time of the corresponding scheduled scaling action will be 9:55 AM. The intention is to give resources time to be provisioned. For example, it can take a few minutes to launch an EC2 instance. The actual amount of time required depends on several factors, such as the size of the instance and whether there are startup scripts to complete. </p> <p>The value must be less than the forecast interval duration of 3600 seconds (60 minutes). The default is 300 seconds. </p> <p>Only valid when configuring predictive scaling. </p>",
                                                    "minimum": 0,
                                                    "type": "integer"
                                                },
                                                "ServiceNamespace": {
                                                    "description": "The namespace of the AWS service.",
                                                    "enum": [
                                                        "autoscaling",
                                                        "ecs",
                                                        "ec2",
                                                        "rds",
                                                        "dynamodb"
                                                    ],
                                                    "type": "string"
                                                },
                                                "TargetTrackingConfigurations": {
                                                    "description": "<p>The structure that defines new target tracking configurations (up to 10). Each of these structures includes a specific scaling metric and a target value for the metric, along with various parameters to use with dynamic scaling. </p> <p>With predictive scaling and dynamic scaling, the resource scales based on the target tracking configuration that provides the largest capacity for both scale in and scale out. </p> <p>Condition: The scaling metric must be unique across target tracking configurations.</p>",
                                                    "items": {
                                                        "description": "Describes a target tracking configuration to use with AWS Auto Scaling. Used with <a>ScalingInstruction</a> and <a>ScalingPolicy</a>.",
                                                        "properties": {
                                                            "CustomizedScalingMetricSpecification": {
                                                                "description": "A customized metric. You can specify either a predefined metric or a customized metric. ",
                                                                "properties": {
                                                                    "Dimensions": {
                                                                        "description": "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized scaling metric specification.</p>",
                                                                        "items": {
                                                                            "description": "Represents a dimension for a customized metric.",
                                                                            "properties": {
                                                                                "Name": {
                                                                                    "description": "The name of the dimension.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Value": {
                                                                                    "description": "The value of the dimension.",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "Name",
                                                                                "Value"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "MetricName": {
                                                                        "description": "The name of the metric.",
                                                                        "type": "string"
                                                                    },
                                                                    "Namespace": {
                                                                        "description": "The namespace of the metric.",
                                                                        "type": "string"
                                                                    },
                                                                    "Statistic": {
                                                                        "description": "The statistic of the metric.",
                                                                        "enum": [
                                                                            "Average",
                                                                            "Minimum",
                                                                            "Maximum",
                                                                            "SampleCount",
                                                                            "Sum"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "Unit": {
                                                                        "description": "The unit of the metric. ",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "MetricName",
                                                                    "Namespace",
                                                                    "Statistic"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "DisableScaleIn": {
                                                                "description": "<p>Indicates whether scale in by the target tracking scaling policy is disabled. If the value is <code>true</code>, scale in is disabled and the target tracking scaling policy doesn't remove capacity from the scalable resource. Otherwise, scale in is enabled and the target tracking scaling policy can remove capacity from the scalable resource. </p> <p>The default value is <code>false</code>.</p>",
                                                                "type": "boolean"
                                                            },
                                                            "EstimatedInstanceWarmup": {
                                                                "description": "The estimated time, in seconds, until a newly launched instance can contribute to the CloudWatch metrics. This value is used only if the resource is an Auto Scaling group.",
                                                                "type": "integer"
                                                            },
                                                            "PredefinedScalingMetricSpecification": {
                                                                "description": "A predefined metric. You can specify either a predefined metric or a customized metric.",
                                                                "properties": {
                                                                    "PredefinedScalingMetricType": {
                                                                        "description": "The metric type. The <code>ALBRequestCountPerTarget</code> metric type applies only to Auto Scaling groups, Spot Fleet requests, and ECS services.",
                                                                        "enum": [
                                                                            "ASGAverageCPUUtilization",
                                                                            "ASGAverageNetworkIn",
                                                                            "ASGAverageNetworkOut",
                                                                            "DynamoDBReadCapacityUtilization",
                                                                            "DynamoDBWriteCapacityUtilization",
                                                                            "ECSServiceAverageCPUUtilization",
                                                                            "ECSServiceAverageMemoryUtilization",
                                                                            "ALBRequestCountPerTarget",
                                                                            "RDSReaderAverageCPUUtilization",
                                                                            "RDSReaderAverageDatabaseConnections",
                                                                            "EC2SpotFleetRequestAverageCPUUtilization",
                                                                            "EC2SpotFleetRequestAverageNetworkIn",
                                                                            "EC2SpotFleetRequestAverageNetworkOut"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "ResourceLabel": {
                                                                        "description": "<p>Identifies the resource associated with the metric type. You can't specify a resource label unless the metric type is <code>ALBRequestCountPerTarget</code> and there is a target group for an Application Load Balancer attached to the Auto Scaling group, Spot Fleet request, or ECS service.</p> <p>The format is app/&lt;load-balancer-name&gt;/&lt;load-balancer-id&gt;/targetgroup/&lt;target-group-name&gt;/&lt;target-group-id&gt;, where:</p> <ul> <li> <p>app/&lt;load-balancer-name&gt;/&lt;load-balancer-id&gt; is the final portion of the load balancer ARN.</p> </li> <li> <p>targetgroup/&lt;target-group-name&gt;/&lt;target-group-id&gt; is the final portion of the target group ARN.</p> </li> </ul>",
                                                                        "maxLength": 1023,
                                                                        "minLength": 1,
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "PredefinedScalingMetricType"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "ScaleInCooldown": {
                                                                "description": "<p>The amount of time, in seconds, after a scale in activity completes before another scale in activity can start. This value is not used if the scalable resource is an Auto Scaling group.</p> <p>The cooldown period is used to block subsequent scale in requests until it has expired. The intention is to scale in conservatively to protect your application's availability. However, if another alarm triggers a scale-out policy during the cooldown period after a scale-in, AWS Auto Scaling scales out your scalable target immediately.</p>",
                                                                "type": "integer"
                                                            },
                                                            "ScaleOutCooldown": {
                                                                "description": "<p>The amount of time, in seconds, after a scale-out activity completes before another scale-out activity can start. This value is not used if the scalable resource is an Auto Scaling group.</p> <p>While the cooldown period is in effect, the capacity that has been added by the previous scale-out event that initiated the cooldown is calculated as part of the desired capacity for the next scale out. The intention is to continuously (but not excessively) scale out.</p>",
                                                                "type": "integer"
                                                            },
                                                            "TargetValue": {
                                                                "description": "The target value for the metric. The range is 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2).",
                                                                "format": "double",
                                                                "type": "number"
                                                            }
                                                        },
                                                        "required": [
                                                            "TargetValue"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "required": [
                                                "ServiceNamespace",
                                                "ResourceId",
                                                "ScalableDimension",
                                                "MinCapacity",
                                                "MaxCapacity",
                                                "TargetTrackingConfigurations"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "ScalingPlanName": {
                                        "description": "The name of the scaling plan. Names cannot contain vertical bars, colons, or forward slashes.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{Print}&&[^|:/]]+",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "ScalingPlanName",
                                    "ApplicationSource",
                                    "ScalingInstructions"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteScalingPlan": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Deletes the specified scaling plan.</p> <p>Deleting a scaling plan deletes the underlying <a>ScalingInstruction</a> for all of the scalable resources that are covered by the plan.</p> <p>If the plan has launched resources or has scaling activities in progress, you must delete those resources separately.</p>",
                "operationId": "DeleteScalingPlan",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "ObjectNotFoundException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ConcurrentUpdateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ScalingPlanName": {
                                        "description": "The name of the scaling plan.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{Print}&&[^|:/]]+",
                                        "type": "string"
                                    },
                                    "ScalingPlanVersion": {
                                        "description": "The version number of the scaling plan.",
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "ScalingPlanName",
                                    "ScalingPlanVersion"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeScalingPlanResources": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes the scalable resources in the specified scaling plan.",
                "operationId": "DescribeScalingPlanResources",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "The token required to get the next set of results. This value is <code>null</code> if there are no more results to return.",
                                            "type": "string"
                                        },
                                        "ScalingPlanResources": {
                                            "description": "Information about the scalable resources.",
                                            "items": {
                                                "description": "Represents a scalable resource.",
                                                "properties": {
                                                    "ResourceId": {
                                                        "description": "<p>The ID of the resource. This string consists of the resource type and unique identifier.</p> <ul> <li> <p>Auto Scaling group - The resource type is <code>autoScalingGroup</code> and the unique identifier is the name of the Auto Scaling group. Example: <code>autoScalingGroup/my-asg</code>.</p> </li> <li> <p>ECS service - The resource type is <code>service</code> and the unique identifier is the cluster name and service name. Example: <code>service/default/sample-webapp</code>.</p> </li> <li> <p>Spot Fleet request - The resource type is <code>spot-fleet-request</code> and the unique identifier is the Spot Fleet request ID. Example: <code>spot-fleet-request/sfr-73fbd2ce-aa30-494c-8788-1cee4EXAMPLE</code>.</p> </li> <li> <p>DynamoDB table - The resource type is <code>table</code> and the unique identifier is the resource ID. Example: <code>table/my-table</code>.</p> </li> <li> <p>DynamoDB global secondary index - The resource type is <code>index</code> and the unique identifier is the resource ID. Example: <code>table/my-table/index/my-table-index</code>.</p> </li> <li> <p>Aurora DB cluster - The resource type is <code>cluster</code> and the unique identifier is the cluster name. Example: <code>cluster:my-db-cluster</code>.</p> </li> </ul>",
                                                        "maxLength": 1600,
                                                        "minLength": 1,
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "ScalableDimension": {
                                                        "description": "<p>The scalable dimension for the resource.</p> <ul> <li> <p> <code>autoscaling:autoScalingGroup:DesiredCapacity</code> - The desired capacity of an Auto Scaling group.</p> </li> <li> <p> <code>ecs:service:DesiredCount</code> - The desired task count of an ECS service.</p> </li> <li> <p> <code>ec2:spot-fleet-request:TargetCapacity</code> - The target capacity of a Spot Fleet request.</p> </li> <li> <p> <code>dynamodb:table:ReadCapacityUnits</code> - The provisioned read capacity for a DynamoDB table.</p> </li> <li> <p> <code>dynamodb:table:WriteCapacityUnits</code> - The provisioned write capacity for a DynamoDB table.</p> </li> <li> <p> <code>dynamodb:index:ReadCapacityUnits</code> - The provisioned read capacity for a DynamoDB global secondary index.</p> </li> <li> <p> <code>dynamodb:index:WriteCapacityUnits</code> - The provisioned write capacity for a DynamoDB global secondary index.</p> </li> <li> <p> <code>rds:cluster:ReadReplicaCount</code> - The count of Aurora Replicas in an Aurora DB cluster. Available for Aurora MySQL-compatible edition and Aurora PostgreSQL-compatible edition.</p> </li> </ul>",
                                                        "enum": [
                                                            "autoscaling:autoScalingGroup:DesiredCapacity",
                                                            "ecs:service:DesiredCount",
                                                            "ec2:spot-fleet-request:TargetCapacity",
                                                            "rds:cluster:ReadReplicaCount",
                                                            "dynamodb:table:ReadCapacityUnits",
                                                            "dynamodb:table:WriteCapacityUnits",
                                                            "dynamodb:index:ReadCapacityUnits",
                                                            "dynamodb:index:WriteCapacityUnits"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ScalingPlanName": {
                                                        "description": "The name of the scaling plan.",
                                                        "maxLength": 128,
                                                        "minLength": 1,
                                                        "pattern": "[\\p{Print}&&[^|:/]]+",
                                                        "type": "string"
                                                    },
                                                    "ScalingPlanVersion": {
                                                        "description": "The version number of the scaling plan.",
                                                        "type": "integer"
                                                    },
                                                    "ScalingPolicies": {
                                                        "description": "The scaling policies.",
                                                        "items": {
                                                            "description": "Represents a scaling policy.",
                                                            "properties": {
                                                                "PolicyName": {
                                                                    "description": "The name of the scaling policy.",
                                                                    "maxLength": 256,
                                                                    "minLength": 1,
                                                                    "pattern": "\\p{Print}+",
                                                                    "type": "string"
                                                                },
                                                                "PolicyType": {
                                                                    "description": "The type of scaling policy.",
                                                                    "enum": [
                                                                        "TargetTrackingScaling"
                                                                    ],
                                                                    "type": "string"
                                                                },
                                                                "TargetTrackingConfiguration": {
                                                                    "description": "The target tracking scaling policy. Includes support for predefined or customized metrics.",
                                                                    "properties": {
                                                                        "CustomizedScalingMetricSpecification": {
                                                                            "description": "A customized metric. You can specify either a predefined metric or a customized metric. ",
                                                                            "properties": {
                                                                                "Dimensions": {
                                                                                    "description": "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized scaling metric specification.</p>",
                                                                                    "items": {
                                                                                        "description": "Represents a dimension for a customized metric.",
                                                                                        "properties": {
                                                                                            "Name": {
                                                                                                "description": "The name of the dimension.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value of the dimension.",
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "Name",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "MetricName": {
                                                                                    "description": "The name of the metric.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Namespace": {
                                                                                    "description": "The namespace of the metric.",
                                                                                    "type": "string"
                                                                                },
                                                                                "Statistic": {
                                                                                    "description": "The statistic of the metric.",
                                                                                    "enum": [
                                                                                        "Average",
                                                                                        "Minimum",
                                                                                        "Maximum",
                                                                                        "SampleCount",
                                                                                        "Sum"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "Unit": {
                                                                                    "description": "The unit of the metric. ",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "MetricName",
                                                                                "Namespace",
                                                                                "Statistic"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "DisableScaleIn": {
                                                                            "description": "<p>Indicates whether scale in by the target tracking scaling policy is disabled. If the value is <code>true</code>, scale in is disabled and the target tracking scaling policy doesn't remove capacity from the scalable resource. Otherwise, scale in is enabled and the target tracking scaling policy can remove capacity from the scalable resource. </p> <p>The default value is <code>false</code>.</p>",
                                                                            "type": "boolean"
                                                                        },
                                                                        "EstimatedInstanceWarmup": {
                                                                            "description": "The estimated time, in seconds, until a newly launched instance can contribute to the CloudWatch metrics. This value is used only if the resource is an Auto Scaling group.",
                                                                            "type": "integer"
                                                                        },
                                                                        "PredefinedScalingMetricSpecification": {
                                                                            "description": "A predefined metric. You can specify either a predefined metric or a customized metric.",
                                                                            "properties": {
                                                                                "PredefinedScalingMetricType": {
                                                                                    "description": "The metric type. The <code>ALBRequestCountPerTarget</code> metric type applies only to Auto Scaling groups, Spot Fleet requests, and ECS services.",
                                                                                    "enum": [
                                                                                        "ASGAverageCPUUtilization",
                                                                                        "ASGAverageNetworkIn",
                                                                                        "ASGAverageNetworkOut",
                                                                                        "DynamoDBReadCapacityUtilization",
                                                                                        "DynamoDBWriteCapacityUtilization",
                                                                                        "ECSServiceAverageCPUUtilization",
                                                                                        "ECSServiceAverageMemoryUtilization",
                                                                                        "ALBRequestCountPerTarget",
                                                                                        "RDSReaderAverageCPUUtilization",
                                                                                        "RDSReaderAverageDatabaseConnections",
                                                                                        "EC2SpotFleetRequestAverageCPUUtilization",
                                                                                        "EC2SpotFleetRequestAverageNetworkIn",
                                                                                        "EC2SpotFleetRequestAverageNetworkOut"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "ResourceLabel": {
                                                                                    "description": "<p>Identifies the resource associated with the metric type. You can't specify a resource label unless the metric type is <code>ALBRequestCountPerTarget</code> and there is a target group for an Application Load Balancer attached to the Auto Scaling group, Spot Fleet request, or ECS service.</p> <p>The format is app/&lt;load-balancer-name&gt;/&lt;load-balancer-id&gt;/targetgroup/&lt;target-group-name&gt;/&lt;target-group-id&gt;, where:</p> <ul> <li> <p>app/&lt;load-balancer-name&gt;/&lt;load-balancer-id&gt; is the final portion of the load balancer ARN.</p> </li> <li> <p>targetgroup/&lt;target-group-name&gt;/&lt;target-group-id&gt; is the final portion of the target group ARN.</p> </li> </ul>",
                                                                                    "maxLength": 1023,
                                                                                    "minLength": 1,
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "required": [
                                                                                "PredefinedScalingMetricType"
                                                                            ],
                                                                            "type": "object"
                                                                        },
                                                                        "ScaleInCooldown": {
                                                                            "description": "<p>The amount of time, in seconds, after a scale in activity completes before another scale in activity can start. This value is not used if the scalable resource is an Auto Scaling group.</p> <p>The cooldown period is used to block subsequent scale in requests until it has expired. The intention is to scale in conservatively to protect your application's availability. However, if another alarm triggers a scale-out policy during the cooldown period after a scale-in, AWS Auto Scaling scales out your scalable target immediately.</p>",
                                                                            "type": "integer"
                                                                        },
                                                                        "ScaleOutCooldown": {
                                                                            "description": "<p>The amount of time, in seconds, after a scale-out activity completes before another scale-out activity can start. This value is not used if the scalable resource is an Auto Scaling group.</p> <p>While the cooldown period is in effect, the capacity that has been added by the previous scale-out event that initiated the cooldown is calculated as part of the desired capacity for the next scale out. The intention is to continuously (but not excessively) scale out.</p>",
                                                                            "type": "integer"
                                                                        },
                                                                        "TargetValue": {
                                                                            "description": "The target value for the metric. The range is 8.515920e-109 to 1.174271e+108 (Base 10) or 2e-360 to 2e360 (Base 2).",
                                                                            "format": "double",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "TargetValue"
                                                                    ],
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "required": [
                                                                "PolicyName",
                                                                "PolicyType"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "ScalingStatusCode": {
                                                        "description": "<p>The scaling status of the resource.</p> <ul> <li> <p> <code>Active</code> - The scaling configuration is active.</p> </li> <li> <p> <code>Inactive</code> - The scaling configuration is not active because the scaling plan is being created or the scaling configuration could not be applied. Check the status message for more information.</p> </li> <li> <p> <code>PartiallyActive</code> - The scaling configuration is partially active because the scaling plan is being created or deleted or the scaling configuration could not be fully applied. Check the status message for more information.</p> </li> </ul>",
                                                        "enum": [
                                                            "Inactive",
                                                            "PartiallyActive",
                                                            "Active"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "ScalingStatusMessage": {
                                                        "description": "A simple message about the current scaling status of the resource.",
                                                        "type": "string",
                                                        "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                    },
                                                    "ServiceNamespace": {
                                                        "description": "The namespace of the AWS service.",
                                                        "enum": [
                                                            "autoscaling",
                                                            "ecs",
                                                            "ec2",
                                                            "rds",
                                                            "dynamodb"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "ScalingPlanName",
                                                    "ScalingPlanVersion",
                                                    "ServiceNamespace",
                                                    "ResourceId",
                                                    "ScalableDimension",
                                                    "ScalingStatusCode"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "ValidationException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "InvalidNextTokenException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "ConcurrentUpdateException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "483": {
                        "description": "InternalServiceException",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "MaxResults": {
                                        "description": "The maximum number of scalable resources to return. The value must be between 1 and 50. The default value is 50.",
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "The token for the next set of results.",
                                        "type": "string"
                                    },
                                    "ScalingPlanName": {
                                        "description": "The name of the scaling plan.",
                                        "maxLength": 128,
                                        "minLength": 1,
                                        "pattern": "[\\p{Print}&&[^|:/]]+",
                                        "type": "string"
                                    },
                                    "ScalingPlanVersion": {
                                        "description": "The version number of the scaling plan.",
                                        "type": "integer"
                                    }
                                },
                                "required": [
                                    "ScalingPlanName",
                                    "ScalingPlanVersion"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeScalingPlans": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Describes one or more of your scaling plans.",
                "operationId": "DescribeScalingPlans",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "NextToken": {
                                            "description": "The token required to get the next set of results. This value is <code>null</code> if there are no more results to return.",
                                            "type": "string"
                                        },
                                        "ScalingPlans": {
                                            "description": "Information about the scaling plans.",
                                            "items": {
                                                "description": "Represents a scaling plan.",
                                                "properties": {
                                                    "ApplicationSource": {
                                                        "description": "The application source.",
                                                        "properties": {
                                                            "CloudFormationStackARN": {
                                                                "description": "The Amazon Resource Name (ARN) of a AWS CloudFormation stack.",
                                                                "type": "string",
                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                            },
                                                            "TagFilters": {
                                                                "description": "A set of tags (up to 50).",
                                                                "items": {
                                                                    "description": "Represents a tag.",
                                                                    "properties": {
                                                                        "Key": {
                                                                            "description": "The tag key.",
                                                                            "maxLength": 128,
                                                                            "minLength": 1,
                                                                            "type": "string",
                                                                            "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                        },
                                                                        "Values": {
                                                                            "description": "The tag values (0 to 20).",
                                                                            "items": {
                                                                                "maxLength": 256,
                                                                                "minLength": 1,
                                                                                "type": "string",
                                                                                "x-pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "CreationTime": {
                                                        "description": "The Unix time stamp when the scaling plan was created.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "ScalingInstructions": {
                                                        "description": "The scaling instructions.",
                                                        "items": {
                                                            "description": "<p>Describes a scaling instruction for a scalable resource.</p> <p>The scaling instruction is used in combination with a scaling plan, which is a set of instructions for configuring dynamic scaling and predictive scaling for the scalable resources in your application. Each scaling instruction applies to one resource.</p> <p>AWS Auto Scaling creates target tracking scaling policies based on the scaling instructions. Target tracking scaling policies adjust the capacity of your scalable resource as required to maintain resource utilization at the target value that you specified. </p> <p>AWS Auto Scaling also configures predictive scaling for your Amazon EC2 Auto Scaling groups using a subset of parameters, including the load metric, the scaling metric, the target value for the scaling metric, the predictive scaling mode (forecast and scale or forecast only), and the desired behavior when the forecast capacity exceeds the maximum capacity of the resource. With predictive scaling, AWS Auto Scaling generates forecasts with traffic predictions for the two days ahead and schedules scaling actions that proactively add and remove resource capacity to match the forecast. </p> <p>We recommend waiting a minimum of 24 hours after creating an Auto Scaling group to configure predictive scaling. At minimum, there must be 24 hours of historical data to generate a forecast.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/plans/userguide/auto-scaling-getting-started.html\">Getting Started with AWS Auto Scaling</a>.</p>",
                                                            "properties": {
                                                                "CustomizedLoadMetricSpecification": {
                                                                    "description": "The customized load metric to use for predictive scaling. This parameter or a <b>PredefinedLoadMetricSpecification</b> is required when configuring predictive scaling, and cannot be used otherwise. ",
                                                                    "properties": {
                                                                        "Dimensions": {
                                                                            "description": "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your customized load metric specification.</p>",
                                                                            "items": {
                                                                                "description": "Represents a dimension for a customized metric.",
                                                                                "properties": {
                                                                                    "Name": {
                                                                                        "description": "The name of the dimension.",
                                                                                        "type": "string"
                                                                                    },
                                                                                    "Value": {
                                                                                        "description": "The value of the dimension.",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "required": [
                                                                                    "Name",
                                                                                    "Value"
                                                                                ],
                                                                                "type": "object"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "MetricName": {
                                                                            "description": "The name of the metric.",
                                                                            "type": "string"
                                                                        },
                                                                        "Namespace": {
                                                                            "description": "The namespace of the metric.",
                                                                            "type": "string"
                                                                        },
                                                                        "Statistic": {
                                                                            "description": "The statistic of the metric. Currently, the value must always be <code>Sum</code>. ",
                                                                            "enum": [
                                                                                "Average",
                                                                                "Minimum",
                                                                                "Maximum",
                                                                                "SampleCount",
                                                                                "Sum"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "Unit": {
                                                                            "description": "The unit of the metric.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "MetricName",
[...]
